<div class="container">
  <div class="row">
    <div class="mx-auto">
    <div class="col-md-12">
      <h3>プロフィール編集</h3>

        <%= form_with model: @user do |f| %>
        <label for="inputName">ユーザー名</label><br>
        <%= f.text_field :name, autofocus: true, id:"inputName" %><br>
        <label for="inputImage">プロフィール画像</label><br>
        <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %><br>


        <%= f.submit '更新', class: "btn btn-outline-success" %>
        </br>
        <%= link_to "戻る", user_path(current_user) %>/
        <% if @user == current_user %>
          <%= link_to "アカウントを削除する", user_path(current_user.id), method: :delete, "data-confirm" => "本当に消しますか?" %>
        <% end %>

        <% end %>

    </div>
    </div>
  </div>
</div>

