<div class="container">
  <div class="row">

    <div class="col-md-9 offset-md-1 mx-auto mt-4">
    <h5>お気に入り一覧</h5>
      <table class="table">
        <tbody>

          <% @favorite_eateries.each do |f|%>
          <tr>
            <td><h5><%= link_to f.restaurant_name, eatery_path(f.id) %></h5></td>
            <td>
              <div id="show_star_eatery-<%= f.id %>"></div>
                <script>
                  $('#show_star_eatery-<%= f.id %>').empty();
                  var elem = document.querySelector('#show_star_eatery-<%= f.id %>');
                  var opt = {
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  readOnly: true,
                  score: <%= f.reviews.average(:star).to_f %>
                  };
                  raty(elem,opt);
                </script>
            </td>
            <td><%=f.address %></td>
          </tr>
          <% end %>

          <% @favorite_lodging.each do |f|%>
          <tr>
            <td><h5><%= link_to f.lodging_name, lodging_path(f.id) %></h5></td>
            <td>
              <div id="show_star_loging-<%= f.id %>"></div>
                <script>
                  $('#show_star_lodging-<%= f.id %>').empty();
                  var elem = document.querySelector('#show_star_loging-<%= f.id %>');
                  var opt = {
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  readOnly: true,
                  score: <%= f.lodging_reviews.average(:star).to_f %>
                  };
                  raty(elem,opt);
                </script>
            </td>
            <td><%=f.address %></td>
          </tr>
          <% end %>

        </tbody>
      </table>
    </div>

    <div class="col-md-2">
    </div>

  </div>
</div>