

<div class="container">
  <div class="row">

    <div class="col-md-5">
      <div>
        <%= flash[:notice] %>
      </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= image_tag @user.get_profile_image(100,100) %></th>
              <th>
              <%= @user.name %>
              </br>
              <%= link_to "プロフィール編集", edit_user_path, class: "btn btn-outline-success btn-block" %>
              </th>
            </tr>
          </thead>
        </table>

    </div>

    <div class="col-md-3 offset-md-4">
        <%= link_to "お気に入り一覧", root_path, class: "btn btn-outline-secondary btn-block" %>
        </br>
        <%= link_to "新規登録申請", new_eatery_path, class: "btn btn-outline-secondary btn-block" %>
    </div>


    <table class="table table-striped">
      <tbody>
        <tr>
          <% @user.reviews.each do |review| %>
          
          <td><%= review.title %></br>
          <%= review.body %></td>
          <% end %>
          <td><%= link_to "編集", edit_review_path(@review.id), class: "btn btn-outline-success" %></td>
          <td><%= link_to "削除", user_path(@user.id), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-outline-danger" %></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>