<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div><%= flash[:notice] %></div>
        <table class="table table-borderless">
          <tr>
            <th><%= image_tag @user.get_profile_image(100,100) %></th>
            <th><h3><%= @user.name %></h3>
            <% if @user.email != "guest@example.com" %>
              <%= link_to edit_user_path, class: "btn btn-outline-success btn-block mt-1 py-0" do%>
              <i class="fa-solid fa-pen"></i> プロフィール編集
              <% end %>
            <% end %>
            <%= link_to favorites_user_path(@user), class: "btn btn-outline-secondary btn-block mt-1 py-0" do%>
              <i class="fa-solid fa-bookmark"></i> 飲食店保存リスト
            <% end %>
            <%= link_to lodging_favorites_user_path(@user), class: "btn btn-outline-secondary btn-block mt-1 py-0" do%>
              <i class="fa-solid fa-bookmark"></i> 宿泊施設の保存リスト
            <% end %>
            </th>
          </tr>
        </table>
    </div>

    <div class="col-md-3 offset-md-4">
    </div>

    <div class="col-md-12 mt-4">
      <h5 class="border-bottom secondary">口コミ投稿一覧</h5>
        <table class="table table-default table-striped-columns">
          <tbody>
            <% @user.reviews.each do |review| %>
              <tr>
                <td><h5><%= review.eatery.restaurant_name %></h5>

                  <div id="show_star-<%= review.id %>"></div>
                  <script>
                  var elem = document.querySelector('#show_star-<%= review.id %>');
                  var opt = {
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  readOnly: true,
                  score: <%= review.star %>
                  };
                  raty(elem,opt);
                  </script>


                </br>

                <%= review.title %></br>
                <%= review.body %></br>

                <% review.images.each do |image| %>
                <%= image_tag image, style: "width: 100px; height: 100px" %>
                <% end %>
                </td>

                <th><%= link_to "編集", edit_review_path(review.id), class: "btn btn-outline-success" %></th>
                <th><%= link_to "削除", review_path(review.id), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-outline-danger" %></th>

              </tr>
            <% end %>
          </tbody>
    　　  </table>

        <table class="table table-default table-striped-columns">
          <tbody>
            <% @user.lodging_reviews.each do |review| %>
              <tr>
                <td><h5><%= review.lodging.lodging_name %></h5>

                  <div id="show_star-<%= review.id %>"></div>
                    <script>
                　　    var elem = document.querySelector('#show_star-<%= review.id %>');
                　　    var opt = {
                　　    starOn: "<%= asset_path('star-on.png') %>",
                　　    starOff: "<%= asset_path('star-off.png') %>",
                　　    readOnly: true,
                　　    score: <%= review.star %>
                　　    };
                　　    raty(elem,opt);
              　　    </script>
                </br>

                <%= review.title %></br>
                <%= review.body %></br>

                <% review.images.each do |image| %>
              　<%= image_tag image, style: "width: 100px; height: 100px" %>
            　　　<% end %>
                </td>

                <th><%= link_to "編集", edit_lodging_review_path(review.id), class: "btn btn-outline-success" %></th>
                <th> <%= link_to "削除", lodging_review_path(review.id), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-outline-danger" %></th>

              </tr>
            <% end %>
          </tbody>
    　　  </table>

    </div>
  </div>
</div>