<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto border border-3 rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">編集フォーム</h5>
        <div class="form-body p-4">

          <%= form_with model: @lodging, url: admin_lodging_dashboard_path(@lodging.id) do |f| %>
            <h7>宿泊施設名</h7><br>
              <%= f.text_field :lodging_name %><br>
            <h7>住所</h7><br>
              <%= f.text_field :address %><br>
            <h7>電話番号</h7><br>
              <%= f.text_field :phone_number %><br>
            <h7>URL</h7><br>
              <%= f.text_area :home_page %><br>
            <h7><%= f.label :l_category, 'カテゴリ' %></h7><br>
              <%= f.collection_check_boxes(:l_category_ids, LCategory.all, :id, :name) do |category| %>
              <%= category.label do %>
              <%= category.check_box %>
              <%= category.text %>
              <% end %>
              <% end %>
          </br>

          <div class="d-flex">
            <%= link_to "戻る", admin_lodging_dashboard_path, class: "btn btn-block btn-outline-secondary mt-4 mr-1" %>
            <%= f.submit '保存', class: "btn btn-block btn-outline-success mt-4" %>
          </div>
          <% end %>

        </div>
    </div>
  </div>
</div>
