<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">

      <% unless @lodging.approved %>
        <%= button_to "投稿を承認する", admin_lodging_approved_path(@lodging.id), method: :post, class: "btn btn-outline-secondary" %>
      <% end %>

      <table class="table mt-4">
        <tr>
          <th>店舗名</th> <td><%= @lodging.lodging_name %></td>
        </tr>
        <tr>
          <th>住所</th> <td><%= @lodging.address %></td>
        </tr>
        <tr>
          <th>電話番号</th> <td><%= @lodging.phone_number %></td>
        </tr>
        <tr>
          <th>URL</th> <td><%= @lodging.home_page %></td>
        </tr>
        <tr>
          <th>画像</th> <td><%= image_tag @lodging.image, style: "width: 100px; height: 100px" %></td>
        </tr>
        <tr>
          <th>その他</th>
          <td>
            <% @categories.each do |category| %>
            <%= category.name %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
    </div>
  </div>


  <div class="row">
    <div class="col-md-4 mt-4">
      <div class="d-flex">
        <%= link_to "編集", edit_admin_lodging_dashboard_path(@lodging.id), class: "btn btn-outline-success d-inline-block w-50 mb-4 mr-1" %>
        <%= link_to "削除", admin_lodging_dashboard_path(@lodging.id), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-outline-danger d-inline-block w-50 mb-4" %>
      </div>
    </div>
    <div class="col-md-8">
    </div>
  </div>
</div>

