<div class="container">
  <div class="row">
    <div class="mx-auto">

      <%= form_with model: @eatery do |f| %>
      <h5>飲食店名</h5>
        <%= f.text_field :restaurant_name %>
      <h5>住所</h5>
        <%= f.text_field :address %>
      <h5>電話番号</h5>
        <%= f.text_field :phone_number %>
      <h5>URL</h5>
        <%= f.text_area :home_page %>

      <h5><%= f.label :category, 'カテゴリ' %></h5>
        <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
        <%= category.label do %>
        <%= category.check_box %>
        <%= category.text %>
        <% end %>
        <% end %></br>

      <%= f.submit '登録申請', class: "btn btn-outline-success" %>
      <% end %>
    </div>

  </div>
</div>
