<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
        <% if user_signed_in? %>
          <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.text_field :content, placeholder: "住所を入力" %>
          <%= f.select :model, options_for_select({ "飲食店" => "eatery", "宿泊施設" => "londing" }) %>
          <%= f.select :method, options_for_select({ "完全一致" => "perfect", "部分一致" => "partial" }) %>
          <%= f.submit '検索', class: "btn btn-outline-secondary" %>
          <% end %>
        <% end %>
    </div>
  </div>


  <% if @model == 'eatery' %>
    <div class="row">
      <% @eatery_records.each do |eatery| %>
        <div class="col-md-3 offset-md-1">
          <div class="card">
            <%= image_tag "default-image.jpg", class:"card-img-top", alt:"Image" %>
              <div class="card-body">
                <div class="card-title">
                  <h5><%= link_to eatery.restaurant_name, eatery_path(eatery.id) %></h5>
                </div>

                <div class="card-text">
                  <span id="show_star-<%= eatery.id %>"></span>
                    <script>
                    var elem = document.querySelector('#show_star-<%= eatery.id %>');
                    var opt = {
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    readOnly: true,
                    score: <%= eatery.reviews.average(:star).to_f %>
                    };
                    raty(elem,opt);
                    </script>
                    </br>
                    <i class="fa-solid fa-location-dot"></i> <%= eatery.address %>
                </div>

              </div>
          </div>
        </div>
      <% end %>

  <% elsif @model == 'lodging' %>

      <% @lodging_records.each do |lodging| %>
        <div class="col-md-3 offset-md-1">
          <div class="card">
            <%= image_tag "default-image.jpg", class:"card-img-top", alt:"Image" %>
              <div class="card-body">
                <div class="card-title">
                  <h5><%= link_to lodging.lodging_name, lodging_path(lodging.id) %></h5>
                </div>

              <div class="card-text">
                <span id="show_star-<%= lodging.id %>"></span>
                <script>
                var elem = document.querySelector('#show_star-<%= lodging.id %>');
                var opt = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                readOnly: true,
                score: <%= lodging.lodging_reviews.average(:star).to_f %>
                };
                raty(elem,opt);
                </script>
                </br>
                <i class="fa-solid fa-location-dot"></i> <%= lodging.address %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

  <% else %>

      <% @eatery_records.each do |eatery| %>
        <div class="col-md-3 offset-md-1">
          <div class="card">
            <%= image_tag "default-image.jpg", class:"card-img-top", alt:"Image" %>
              <div class="card-body">
                <div class="card-title">
                  <h5><%= link_to eatery.restaurant_name, eatery_path(eatery.id) %></h5>
                </div>

                <div class="card-text">
                  <span id="show_star-<%= eatery.id %>"></span>
                    <script>
                    var elem = document.querySelector('#show_star-<%= eatery.id %>');
                    var opt = {
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    readOnly: true,
                    score: <%= eatery.reviews.average(:star).to_f %>
                    };
                    raty(elem,opt);
                    </script>
                  </br>
                  <i class="fa-solid fa-location-dot"></i> <%= eatery.address %>
                </div>

              </div>
          </div>
        </div>
      <% end %>

      <% @lodging_records.each do |lodging| %>
        <div class="col-md-3 offset-md-1">
          <div class="card">
            <%= image_tag "default-image.jpg", class:"card-img-top", alt:"Image" %>
              <div class="card-body">
                <div class="card-title">
                  <h5><%= link_to lodging.lodging_name, lodging_path(lodging.id) %></h5>
                </div>

              <div class="card-text">
                <span id="show_star-<%= lodging.id %>"></span>
                <script>
                var elem = document.querySelector('#show_star-<%= lodging.id %>');
                var opt = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                readOnly: true,
                score: <%= lodging.lodging_reviews.average(:star).to_f %>
                };
                raty(elem,opt);
                </script>
                </br>
                <i class="fa-solid fa-location-dot"></i> <%= lodging.address %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

        <div class="col-md-8">
        </div>

  <% end %>
  </div>
</div>