<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-4">
      <div class="input-group">
        <% if user_signed_in? %>
          <%= form_with url: search_path, method: :get, local: true do |f| %>
            <div class="d-flex">
              <%= f.text_field :content, class: "form-control mr-1", style: "width: 300px;", placeholder: "住所を入力" %>
              <%= f.select :model, options_for_select({ "飲食店" => "eatery", "宿泊施設" => "lodging" }), { }, { class: 'form-control mr-1', style: "width: 130px;" } %>
              <%= f.select :method, options_for_select({ "完全一致" => "perfect", "部分一致" => "partial" }), { }, { class: 'form-control mr-1', style: "width: 150px;" } %>
              <%= f.button class: "btn btn-outline-secondary", style: "min-width: 45px;" do %>
                <i class="fa-solid fa-magnifying-glass"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-4 mb-5">
      <div class="card-container d-flex">

        <% if @model == 'eatery' %>
          <% @eatery_records.each do |eatery| %>
            <div class="card">
              <%= image_tag "default-image.jpg", class:"card-img-top", alt:"Image" %>
                <div class="card-body">
                  <div class="card-title">
                    <h5><%= link_to eatery.restaurant_name, eatery_path(eatery.id) %></h5>
                  </div>
                  <div class="card-text">
                    <div id="show_star_eatery-<%= eatery.id %>"></div>
                      <script>
                        $('#show_star_eatery-<%= eatery.id %>').empty();
                        var elem = document.querySelector('#show_star_eatery-<%= eatery.id %>');
                        var opt = {
                        starOn: "<%= asset_path('star-on.png') %>",
                        starOff: "<%= asset_path('star-off.png') %>",
                        starHalf: "<%= asset_path('star-half.png') %>",
                        readOnly: true,
                        score: <%= eatery.reviews.average(:star).to_f %>
                        };
                        raty(elem,opt);
                      </script>
                      </br>
                      <i class="fa-solid fa-location-dot"></i> <%= eatery.address %>
                  </div>
                </div>
            </div>
          <% end %>

        <% elsif @model == 'lodging' %>
          <% @lodging_records.each do |lodging| %>
            <div class="card">
              <%= image_tag "default-image.jpg", class:"card-img-top", alt:"Image" %>
                <div class="card-body">
                  <div class="card-title">
                    <h5><%= link_to lodging.lodging_name, lodging_path(lodging.id) %></h5>
                  </div>
                  <div class="card-text">
                    <div id="show_star_loging-<%= lodging.id %>"></div>
                      <script>
                        $('#show_star_lodging-<%= lodging.id %>').empty();
                        var elem = document.querySelector('#show_star_loging-<%= lodging.id %>');
                        var opt = {
                        starOn: "<%= asset_path('star-on.png') %>",
                        starOff: "<%= asset_path('star-off.png') %>",
                        starHalf: "<%= asset_path('star-half.png') %>",
                        readOnly: true,
                        score: <%= lodging.lodging_reviews.average(:star).to_f %>
                        };
                        raty(elem,opt);
                      </script>
                      </br>
                      <i class="fa-solid fa-location-dot"></i> <%= lodging.address %>
                  </div>
                </div>
            </div>
          <% end %>

        <% else %>
          <% @eatery_records.each do |eatery| %>
            <div class="card">
              <%= image_tag "default-image.jpg", class:"card-img-top", alt:"Image" %>
                <div class="card-body">
                  <div class="card-title">
                    <h5><%= link_to eatery.restaurant_name, eatery_path(eatery.id) %></h5>
                  </div>
                  <div class="card-text">
                    <div id="show_star_eatery-<%= eatery.id %>"></div>
                      <script>
                        $('#show_star_eatery-<%= eatery.id %>').empty();
                        var elem = document.querySelector('#show_star_eatery-<%= eatery.id %>');
                        var opt = {
                        starOn: "<%= asset_path('star-on.png') %>",
                        starOff: "<%= asset_path('star-off.png') %>",
                        starHalf: "<%= asset_path('star-half.png') %>",
                        readOnly: true,
                        score: <%= eatery.reviews.average(:star).to_f %>
                        };
                        raty(elem,opt);
                      </script>
                      </br>
                      <i class="fa-solid fa-location-dot"></i> <%= eatery.address %>
                  </div>
                </div>
            </div>
          <% end %>

          <% @lodging_records.each do |lodging| %>
            <div class="card">
              <%= image_tag "default-image.jpg", class:"card-img-top", alt:"Image" %>
                <div class="card-body">
                  <div class="card-title">
                    <h5><%= link_to lodging.lodging_name, lodging_path(lodging.id) %></h5>
                  </div>
                  <div class="card-text">
                    <div id="show_star_lodging-<%= lodging.id %>"></div>
                      <script>
                        $('#show_star_lodging-<%= lodging.id %>').empty();
                        var elem = document.querySelector('#show_star_lodging-<%= lodging.id %>');
                        var opt = {
                        starOn: "<%= asset_path('star-on.png') %>",
                        starOff: "<%= asset_path('star-off.png') %>",
                        starHalf: "<%= asset_path('star-half.png') %>",
                        readOnly: true,
                        score: <%= lodging.lodging_reviews.average(:star).to_f %>
                        };
                        raty(elem,opt);
                      </script>
                      </br>
                      <i class="fa-solid fa-location-dot"></i> <%= lodging.address %>
                  </div>
                </div>
            </div>
          <% end %>

        <% end %>
      </div>
    </div>

  </div>
</div>