<div class="container">
  <div class="row">

      <div class="col-md-5">
        <h2 class= "mt-4"><%= @lodging.lodging_name %></h2>
        <table class="table table-default table-striped-columns">
          <tr>
            <th><i class="fa-solid fa-location-dot"></i> 住所</th> <td><%= @lodging.address %></td>
          </tr>
          <tr>
            <th><i class="fa-solid fa-mobile-screen-button"></i> 電話番号</th> <td><%= @lodging.phone_number %></td>
          </tr>
          <tr>
            <th><i class="fa-regular fa-window-restore"></i> ホームページ</th> <td><%= @lodging.home_page %></td>
          </tr>

          <tr>
            <th><i class="fa-regular fa-clipboard"></i> その他</th>
            <td>
              <% @categories.each do |category| %>
              <%= category.name %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>

      <div class="col-md-3 offset-md-4">
        <% if @lodging.favorited_by?(current_user) %>
        <p class= "mt-4">
          <%= link_to lodging_lodging_favorite_path(@lodging), method: :delete do %>
          <i class="fa-solid fa-bookmark"></i> 保存
          <% end %>
        </p>
        <% else %>
        <p class= "mt-4">
          <%= link_to lodging_lodging_favorite_path(@lodging), method: :post do %>
          <i class="fa-regular fa-bookmark"></i> 保存
          <% end %>
        </p>
        <% end %>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-3 mb-5">
      <h5 class="border-bottom secondary">投稿画像</h5>
        <% if @lodging.lodging_reviews.any? %>
          <% @lodging.lodging_reviews.each do |r| %>
            <% r.images.each do |images| %>
              <%= image_tag images, style: "width: 100px; height: 100px" %>
            <% end %>
          <% end %>
        <% else %>
          <div style="width: 100px; height: 100px; background-color: #fff;"></div>
        <% end %>
    </div>
  </div>

  <div class="row">
      <div class="col-md-3 mt-3">
        <h5 class="border-bottom secondary">口コミ</h5>

        <%= form_with model: @lodging_review do |f| %>
        <div class="form-group position-static">
          <div id="post_raty"></div>
            <script>
            var elem = document.querySelector('#post_raty');
            var opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            scoreName: 'lodging_review[star]',
            };
            raty(elem,opt);
            </script>
        </div>
        <p>タイトル</p>
        <%= f.text_field :title %>
        <p>本文</p>
        <%= f.text_area :body %>
        <%= f.file_field :images, accept: "image/*", multiple: true %>
        </br>
        <%= f.hidden_field :lodging_id, value: @lodging.id %>
        <%= f.submit '投稿', class: "btn btn-block btn-outline-success mb-4 mt-3" %>
        <% end %>

      </div>

      <div class="col-md-8 offset-md-1 mt-3 mb-4">
        <h5 class="border-bottom secondary">口コミ一覧</h5>
        <table class="table table-striped">
          <tbody>
            <% @lodging.lodging_reviews.each do |review| %>
            <tr>
              <td><%= image_tag review.user.get_profile_image(80,80) %></br>
              <%= review.user.name %></td>

              <td><div id="show_star-<%= review.id %>"></div>
                <script>
                  var elem = document.querySelector('#show_star-<%= review.id %>');
                  var opt = {
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  readOnly: true,
                  score: <%= review.star %>
                  };
                  raty(elem,opt);
                </script>

              <%= review.title %></br>
              <%= review.body %></br>
              <% review.images.each do |image| %>
              <%= image_tag image, style: "width: 100px; height: 100px" %>
              <% end %>
            </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>


  </div>
</div>
